
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>eCommerce KPI Analysis Report</title>

    <!-- Bootstrap core CSS -->
    <link href="/~ngchuchi/w209/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/templatemo-seo-dream.css">
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/animated.css">
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/owl.css">
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/w209.css">

    <!-- Additional scripts for Altair -->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

  <style>
  /* Define a box around the chart container */
  .chart-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px; /* Adjust margin as needed */
  }

  /* Style for the instructions */
  .instructions {
    font-size: 12px;
    line-height: 1.6;
    /* Add any additional styles for instructions */
  }

  body {
    padding-top: 140px; /* Adjust the value based on your header height */
  }
  </style>

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
<!--            <a href="w209.html" class="logo">-->
<!--              <h4>SEO Dream <img src="/~ngchuchi/w209/static/assets/images/logo-icon.png" alt=""></h4>-->
<!--            </a>-->
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/~ngchuchi/w209/#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="/~ngchuchi/w209/#features">Analysis</a></li>
              <li class="scroll-to-section"><a href="/~ngchuchi/w209/#about">About the Project</a></li>
              <li class="scroll-to-section"><a href="/~ngchuchi/w209/#contact">Contact Us</a></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Visualization Area Start ***** -->
  <div id="viz" class="features section">
      <div class="container">
          <div class="row">
              <div class="col">
                <!-- ***** Instructions Area Start ***** -->
                <div>
                  <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  title="Click here to learn more about this dashboard, including how to use it and examples.">
                      Instructions
                  </button>
                </div>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">

<div style="margin: 5px 0;">
  <p>This dashboard displays the Delivery Status in relation to the locations of the Shippers and Customers. There are two sections in this dashboard:</p>
  <h5>Section 1: Shippers & Customers Areas</h5>
  <p>This section shows the shippers' and customers' higher-level geographic areas:</p>
  <ul>
    <li>Market: Market to where the order is delivered from, e.g., Africa, Europe, Pacific Asia, LATAM (aka Latin American), USCA (aka Central America)</li>
    <li>Order Region: Region of the world where the order is delivered from, e.g., Southeast Asia, Oceania, Eastern Asia,</li>
    <li>Customer Country: Country where the customer made the purchase, e.g., Puerto Rico, United States</li>
  </ul>
  <p>&nbsp;</p>
  <h5>Section 2: Shippers & Customers Locations Details</h5>
  <ul>
    <li>This section delves into the specifics of the Shippers' and Customers' locations.</li>
    <li>Shipper Countries: Countries where the order is delivered from, e.g., Australia, Cuba, Peru</li>
    <li>Customer State: State abbreviation for the store where the purchase is registered, e.g., CA, TX</li>
  </ul>
  <p>&nbsp;</p>
  <h5>Instructions:</h5>
  <p>This is an interactive dashboard. To focus on your analysis, you can modify the views in the following ways:</p>
  <ul>
    <li>Select the Delivery Status you want to see by clicking inside any bar chart.</li>
    <li>You can also narrow your search by clicking on the Delivery Status legend.</li>
    <li>Click and hold the shift key to select more than one Delivery Status.</li>
    <li>Click inside the chart to clear your filter selections.</li>
    <li>Hover over each bar in a chart to see the statistical data beneath the bar.</li>
    <li>The color of the bar represents the Delivery Status (Dark Blue: Advance Shipping, Light Blue: Late Delivery, Orange: Shipping Canceled, Light Orange: Shipping on Time)</li>
  </ul>
  <p>&nbsp;</p>
  <h5>Example:</h5>
  <p><strong><u>Task</u></strong>: Explore the insights into Late Delivery orders from Europe.</p>
  <ul>
    <li>From the 'Shipper Market' chart, click on the 'Light Blue' bar under the 'Europe' section.</li>
    <li>Hover over each 'Light Blue' bar in different charts to view the details.</li>
  </ul>
  <p><strong><u>Observations</u></strong>:</p>
  <ul>
    <li>13806 orders shipped from Europe were late.</li>
    <li>21147 orders were shipped to the US.</li>
    <li>France is the top shipper among the Europe countries. It accounted for 3982 late orders.</li>
    <li>The top-3 US states that experienced from this late delivery from Europe are California (CA), New York (NY), and Texas (TX)</li>
  </ul>
</div>

                  </div>
                </div>
                <!-- ***** Instructions Area End ***** -->
              </div>
          </div>

          <div class="row">
              <div class="col">
                <!-- ***** Altair Area Start ***** -->
                <div id="chart"></div>
                <script type="text/javascript">
                  const chartJson = {{ chart_json | safe }};
                  vegaEmbed('#chart', chartJson);
                </script>
                <!-- ***** Altair Area End ***** -->
              </div>
          </div>
      </div>
  </div>
  <!-- ***** Visualization Area End ***** -->  

  <!-- Scripts -->
  <script src="/~ngchuchi/w209/static/vendor/jquery/jquery.min.js"></script>
  <script src="/~ngchuchi/w209/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/~ngchuchi/w209/static/assets/js/owl-carousel.js"></script>
  <script src="/~ngchuchi/w209/static/assets/js/animation.js"></script>
  <script src="/~ngchuchi/w209/static/assets/js/imagesloaded.js"></script>
  <script src="/~ngchuchi/w209/static/assets/js/custom.js"></script>

</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2023 Datasci-209 Fall Section-4, Team-5. All Rights Reserved.
        <br>Powered by <a rel="nofollow" href="https://altair-viz.github.io/index.html">Vega-Altair</a>,
        Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a></p>
      </div>
    </div>
  </div>
</footer>

</html>
