
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>eCommerce KPI Analysis Report</title>

    <!-- Bootstrap core CSS -->
    <link href="/~ngchuchi/w209/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/templatemo-seo-dream.css">
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/animated.css">
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/owl.css">
    <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/w209.css">

    <!-- Additional scripts for Altair -->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

  <style>
  /* Define a box around the chart container */
  .chart-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px; /* Adjust margin as needed */
  }

  /* Style for the instructions */
  .instructions {
    font-size: 12px;
    line-height: 1.6;
    /* Add any additional styles for instructions */
  }

  body {
    padding-top: 140px; /* Adjust the value based on your header height */
  }
  </style>

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
<!--            <a href="w209.html" class="logo">-->
<!--              <h4>SEO Dream <img src="/~ngchuchi/w209/static/assets/images/logo-icon.png" alt=""></h4>-->
<!--            </a>-->
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="/~ngchuchi/w209/#top" class="active">Home</a></li>
              <li><a href="/~ngchuchi/w209/#about">About the Project</a></li>
              <li><a href="/~ngchuchi/w209/#features">Analysis</a></li>
              <li><a href="/~ngchuchi/w209/#about-team">About the Team</a></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Visualization Area Start ***** -->
  <div id="viz" class="features section">
      <div class="container">
          <div class="row">
              <div class="col">
                <!-- ***** Instructions Area Start ***** -->
                <div>
                  <button class="btn btn-outline-info pull-left" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  title="Click here to learn more about this dashboard, including how to use it and examples.">
                      Instructions
                  </button>
                </div>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">

<div style="margin: 5px 0;">
  <p>The two maps in this dashboard show the distribution of the Delivery Status from the perspectives of Shippers and Customers:</p>
  <h5>Map 1: Shippers Delivery Status Around the World</h5>
  <ul>
    <li>This map illustrates the distribution of the Delivery Status from the perspective of Shippers.</li>
    <li>Each marker on the map represents a location where orders were delivered.</li>
    <li>The color of the marker represents the Delivery Status (Blue: Advance Shipping, Orange: Late Delivery, Red: Shipping Canceled, Green: Shipping on Time)</li>
    <li>Delivery Status: Delivery status of orders, e.g., Advance shipping, Late delivery, Shipping canceled, Shipping on time.</li>
  </ul>
  <p>&nbsp;</p>
  <h5>Map 2: Customers Delivery Status in US</h5>
  <ol>
    <li>This map illustrates the distribution of the Delivery Status from the perspective of Customers.</li>
    <li>Each marker on the map represents a location where orders were purchased.</li>
    <li>The color of the marker represents the Delivery Status (Blue: Advance Shipping, Orange: Late Delivery, Red: Shipping Canceled, Green: Shipping on Time)</li>
    <li>Delivery Status: Delivery status of orders, e.g., Advance shipping, Late delivery, Shipping canceled, Shipping on time.</li>
  </ol>
  <p>&nbsp;</p>
  <h5>Instructions:</h5>
  <ul>
    <li>Hover over any marker on the map to see more information about the location.</li>
    <li>Inside the map, click on the color corresponding to the Delivery Status you want to focus on.</li>
    <li>Click outside of the map to reset the filter.</li>
    <li>Delivery Status legend is not selectable in this version. It will be available in future releases.</li>
  </ul>
  <p>&nbsp;</p>
  <h5>Example:</h5>
  <p><strong><u>Observations: </u></strong></p>
  <ul>
    <li>Based on density of the markers in 'Shippers Delivery Status Around the World' Map, many orders were shipped from many locations in Europe.</li>
  </ul>
  Based on density of the markers in 'Customers Delivery Status in US' Map, most of the orders were placed from California.
</div>

                  </div>
                </div>
                <!-- ***** Instructions Area End ***** -->
              </div>

              <div class="col">
                  <div class="dropdown pull-right">
                      <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Change Year
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="https://apps-fall.ischool.berkeley.edu/~ngchuchi/w209/otd-page3/2015">2015</a></li>
                          <li><a class="dropdown-item" href="https://apps-fall.ischool.berkeley.edu/~ngchuchi/w209/otd-page3/2016">2016</a></li>
                          <li><a class="dropdown-item" href="https://apps-fall.ischool.berkeley.edu/~ngchuchi/w209/otd-page3/2017">2017</a></li>
                      </ul>
                  </div>
              </div>

          </div>

          <div class="row">
              <div class="col">
                <!-- ***** Altair Area Start ***** -->
                <div id="chart"></div>
                <script type="text/javascript">
                  const chartJson = {{ chart_json | safe }};
                  vegaEmbed('#chart', chartJson);
                </script>
                <!-- ***** Altair Area End ***** -->
              </div>
          </div>
      </div>
  </div>
  <!-- ***** Visualization Area End ***** -->  

  <!-- Scripts -->
  <script src="/~ngchuchi/w209/static/vendor/jquery/jquery.min.js"></script>
  <script src="/~ngchuchi/w209/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/~ngchuchi/w209/static/assets/js/owl-carousel.js"></script>
  <script src="/~ngchuchi/w209/static/assets/js/animation.js"></script>
  <script src="/~ngchuchi/w209/static/assets/js/imagesloaded.js"></script>
  <script src="/~ngchuchi/w209/static/assets/js/custom.js"></script>

</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2023 Datasci-209 Fall Section-4, Team-5. All Rights Reserved.
        <br>Powered by <a rel="nofollow" href="https://altair-viz.github.io/index.html">Vega-Altair</a>,
        Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a></p>
      </div>
    </div>
  </div>
</footer>

</html>
