<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
    rel="stylesheet">

  <title>eCommerce KPI Analysis Report</title>

  <!-- Bootstrap core CSS -->
  <link href="/~amomin/w209/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/~amomin/w209/static/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/~amomin/w209/static/assets/css/templatemo-seo-dream.css">
  <link rel="stylesheet" href="/~amomin/w209/static/assets/css/animated.css">
  <link rel="stylesheet" href="/~amomin/w209/static/assets/css/owl.css">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <!--            <a href="w209.html" class="logo">-->
            <!--              <h4>SEO Dream <img src="/~amomin/w209/static/assets/images/logo-icon.png" alt=""></h4>-->
            <!--            </a>-->
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/~amomin/w209/#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="/~amomin/w209/#features">Analysis</a></li>
              <li class="scroll-to-section"><a href="/~amomin/w209/#about">About the Project</a></li>
              <li class="scroll-to-section"><a href="/~amomin/w209/#contact">Contact Us</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Data Points:</h6>
                      <h4>+180k, 2015-2018</h4>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Shippers:</h6>
                      <h4>International</h4>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Customers:</h6>
                      <h4>USA, Puerto Rico</h4>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <h2>eCommerce KPI Analysis Report</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/~amomin/w209/static/assets/images/report-image-3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="features" class="features section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="features-content">
            <div class="row">
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                  <div class="first-number number">
                    <h6>01</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>On-Time Delivery</h4>
                  <div class="line-dec"></div>
                  <p>Identify the reason of late delivery by geographical locations and order attributes</p>
                  <br />
                  <p>
                  <h6>Explore:</h6>
                  <ol>
                    <li>
                      <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~amomin/w209/otd-page1"
                          target="_parent">Delivery Status by Regions</a></p>
                    </li>
                    <li>
                      <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~amomin/w209/otd-page2"
                          target="_parent">Impacts of Order Attributes</a></p>
                    </li>
                    <li>
                      <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~amomin/w209/otd-page3"
                          target="_parent">See the Map!</a></p>
                    </li>
                  </ol>
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="second-number number">
                    <h6>02</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Sales & Market</h4>
                  <div class="line-dec"></div>
                  <p>Explore departmental and country specfic sales trends while uncovering the influence of
                    demographics on sale patterns.</p>
                  <br />
                  <p>
                  <h6>Explore:</h6>
                  <ol>
                    <li>
                      <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~casey.hahn/w209/chart-sales-1"
                          target="_parent">Products Trends</a></p>
                    </li>
                    <li>
                      <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~casey.hahn/w209/chart-sales-2"
                          target="_parent">Sales by Dept</a></p>
                    </li>
                    <li>
                      <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~casey.hahn/w209/chart-sales-3"
                          target="_parent">Demographic Influence</a></p>
                    </li>
                  </ol>
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="third-number number">
                    <h6>03</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>Customer Relation</h4>
                  <div class="line-dec"></div>
                  <p>Explore insights into overall customer base and customer behavoir</p>
                  <br />
                  <p>
                  <h6>Explore:</h6>
                  <ol>
                    <li>
                      <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~amomin/w209/customer_1"
                          target="_parent">Customer Base</a></p>
                    </li>
                    <li>
                      <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~amomin/w209/customer_2"
                          target="_parent">Customer RFM Analysis</a></p>
                    </li>
                  </ol>
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s"
                  data-wow-delay="0.6s">
                  <div class="fourth-number number">
                    <h6>04</h6>
                  </div>
                  <div class="icon"></div>
                  <h4>The Team</h4>
                  <div class="line-dec"></div>
                  <p>Meet our amazing team members! Visit this <a rel="nofollow" href="#" target="_parent">Page</a> for
                    more details.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="/~amomin/w209/static/assets/images/logistics.png" alt="">
          </div>
        </div>

        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading">
            <h6>About The Project</h6>
            <h2>DataCo SMART SUPPLY CHAIN FOR BIG DATA ANALYSIS</h2>
            <h3>SUPPLY CHAIN FOR BIG DATA ANALYSIS</h3>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="right-content">
                <h5>Contents:</h5>
                <p>A DataSet of Supply Chains used by the company DataCo Global was used for the analysis. Dataset of
                  Supply Chain , which allows the use of Machine Learning Algorithms and R Software.
                  Areas of important registered activities : Provisioning , Production , Sales , Commercial
                  Distribution.It also allows the correlation of Structured Data with Unstructured Data for knowledge
                  generation.</p>
              </div>
            </div>
          </div>
          </br>

          <div class="row">
            <div class="col-lg-8">
              <div class="right-content">
                <h5>Acknowledgements:</h5>
                <p>Fabian Constante, Instituto Politecnico de Leiria Escola Superior de Tecnologia e Gestao, Fernando
                  Silva, António Pereira</p>
              </div>
            </div>
          </div>
          </br>

          <div class="row">
            <div class="col-lg-8">
              <div class="right-content">
                <h5>Source:</h5>
                <p><a
                    href="https://data.mendeley.com/datasets/8gx2fvg2k6/5">https://data.mendeley.com/datasets/8gx2fvg2k6/5</a>
                </p>
              </div>
            </div>
          </div>
          </br>

          <div class="main-green-button"><a
              href="https://www.kaggle.com/datasets/shashwatwork/dataco-smart-supply-chain-for-big-data-analysis">Discover
              in Kaggle</a></div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h6>Contact Us</h6>
                  <h2>Fill Out The Form Below To <span>Get</span> In <em>Touch</em> With Us</h2>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on"
                        required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email"
                        required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="subject" name="subject" id="subject" placeholder="Subject" autocomplete="on">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="Message"
                        required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button ">Send Message Now</button>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="contact-info">
                  <ul>
                    <li>
                      <div class="icon">
                        <img src="/~amomin/w209/static/assets/images/contact-icon-01.png" alt="email icon">
                      </div>
                      <a href="#">info@company.com</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="/~amomin/w209/static/assets/images/contact-icon-02.png" alt="phone">
                      </div>
                      <a href="#">+001-002-0034</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="/~amomin/w209/static/assets/images/contact-icon-03.png" alt="location">
                      </div>
                      <a href="#">26th Street, Digital Villa</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2023 Datasci-209 Fall Section-4, Team-5. All Rights Reserved.
            <br>Powered by <a rel="nofollow" href="https://altair-viz.github.io/index.html">Vega-Altair</a>,
            Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="/~amomin/w209/static/vendor/jquery/jquery.min.js"></script>
  <script src="/~amomin/w209/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/~amomin/w209/static/assets/js/owl-carousel.js"></script>
  <script src="/~amomin/w209/static/assets/js/animation.js"></script>
  <script src="/~amomin/w209/static/assets/js/imagesloaded.js"></script>
  <script src="/~amomin/w209/static/assets/js/custom.js"></script>

</body>

</html>