<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

  <title>eCommerce KPI Analysis Report</title>

  <!-- Bootstrap core CSS -->
  <link href="/~ngchuchi/w209/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/templatemo-seo-dream.css">
  <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/animated.css">
  <link rel="stylesheet" href="/~ngchuchi/w209/static/assets/css/owl.css">


  <style>
    /* Add custom CSS to reduce the top margin of the Features section */
    #features {
      margin-top: 10px; /* Adjust this value as needed to decrease the space */
    }


    .custom-list {
      padding-left: 20px; /* Add padding to the left for indentation */
      font-size: 14px; /* Adjust the font size */
      margin-bottom: 20px; /* Add spacing between the paragraph and list */
    }

    .custom-list li {
      margin-bottom: 10px; /* Add spacing between list items */
    }

    .list-title {
      font-weight: bold; /* Make the title bold */
    }

    .float-left {
      float: left;
      margin-right: 20px; /* Adjust the margin as needed */
    }

  </style>

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <!--            <a href="w209.html" class="logo">-->
          <!--              <h4>SEO Dream <img src="/~casey.hahn/w209/static/assets/images/logo-icon.png" alt=""></h4>-->
          <!--            </a>-->
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/~ngchuchi/w209/#top" class="active">Home</a></li>
            <li><a href="/~ngchuchi/w209/#about">About the Project</a></li>
            <li><a href="/~ngchuchi/w209/#features">Analysis</a></li>
            <li><a href="/~ngchuchi/w209/#about-team">About the Team</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<!--
<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <div class="info-stat">
                    <h6>Data Points:</h6>
                    <h4>+180k, 2015-2018</h4>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="info-stat">
                    <h6>Shippers:</h6>
                    <h4>International</h4>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <div class="info-stat">
                    <h6>Customers:</h6>
                    <h4>USA, Puerto Rico</h4>
                  </div>
                </div>
                <div class="col-lg-12">
                  <h2>DataCo Supply Chain Analytics</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="./w209/static/assets/images/report-image-3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div id="about" class="section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/~ngchuchi/w209/static/assets/images/logistics.png" alt="" class="float-left">
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <div class="left-content">
                <h6>Source:</h6>
                <p><a href="https://data.mendeley.com/datasets/8gx2fvg2k6/5">DataCo Global's</a> Supply Chains dataset was used for the analysis.</p>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <div class="left-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Data Points:</h6>
                      <p class="fw-bold">180k+, 2015-2018</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Shippers:</h6>
                      <p class="fw-bold">International</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="info-stat">
                      <h6>Customers:</h6>
                      <p class="fw-bold">USA, Puerto Rico</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-3 main-green-button">
              <a href="https://www.kaggle.com/datasets/shashwatwork/dataco-smart-supply-chain-for-big-data-analysis">Discover
                more in Kaggle</a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="section-heading">
          <h6>About The Project</h6>
          <h1>DataCo Supply Chain Analytics</h1>
          <br>
          <div class="right-content">
            <p>Supply chain management has become crucial for a company’s success in today’s business environment. In this website, our objective is use DataCo's supply chain data to create an analytics dashboard tailored for all  companies  within a supply chain (business owners, suppliers, and logistic companies). Our hope is our dashboard will improve efficiency of supply chains and customer satisfaction. </p>

            <p> This site contains exploratory visualizations in 3 key topics: </p>
            <ol class="custom-list">
              <li><span class="list-title">On-Time Delivery:</span> We're checking if we're consistently delivering goods on time, aiming to spot trends that could help us get better at it.</li>
              <li><span class="list-title">Sales & Marketing:</span> Deep dive into the demand for products to find ways to better understand customer’s seasonality trends.</li>
              <li><span class="list-title">Customer Relations:</span> Lastly, we're taking a closer look at the behavior of key customers, asking how often they shop, how much they spend, and how recently they've bought something. </li>
            </ol>

            <p>We are designing our dashboard within 3 users in mind:</p>
            <ol class="custom-list">
              <li><span class="list-title">Logistic Manager:</span> Monitor delivery performance against KPIs (e.g. on time delivery rate of 95% or above.</li>
              <li><span class="list-title">Business Owners:</span> monitor sales, customer retention, and satisfaction.</li>
              <li><span class="list-title">Suppliers:</span> Inventory management/ seasonality trends </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="features" class="features section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="features-content">
          <div class="row">
            <div class="col-lg-3">
              <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <div class="first-number number">
                  <h6>01</h6>
                </div>
                <div class="icon"></div>
                <h4>On-Time Delivery</h4>
                <div class="line-dec"></div>
                <p>Identify the reason of late delivery by geographical locations and order attributes</p>
                <br />
                <p>
                <h6>Explore:</h6>
                <ol>
                  <li>
                    <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~ngchuchi/w209/otd-page1"
                          target="_parent">Delivery Status by Regions</a></p>
                  </li>
                  <li>
                    <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~ngchuchi/w209/otd-page2"
                          target="_parent">Impacts of Order Attributes</a></p>
                  </li>
                  <li>
                    <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~ngchuchi/w209/otd-page3"
                          target="_parent">See the Map!</a></p>
                  </li>
                </ol>
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="second-number number">
                  <h6>02</h6>
                </div>
                <div class="icon"></div>
                <h4>Sales & Market</h4>
                <div class="line-dec"></div>
                <p>Explore seasonality, departmental and geographic specfic sales trends. </p>
                <br />
                <p>
                <h6>Explore:</h6>
                <ol>
                  <li>
                    <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~casey.hahn/w209/chart-sales-1"
                          target="_parent">Sales - 2015 to 2017</a></p>
                  </li>
                  <li>
                    <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~casey.hahn/w209/chart-sales-2"
                          target="_parent">Sales - Seasonality Heatmap</a></p>
                  </li>
                  <li>
                    <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~casey.hahn/w209/chart-sales-3"
                          target="_parent">Sales - Geographic Influence</a></p>
                  </li>
                </ol>
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                <div class="third-number number">
                  <h6>03</h6>
                </div>
                <div class="icon"></div>
                <h4>Customer Relation</h4>
                <div class="line-dec"></div>
                <p>Explore insights into overall customer base and customer behavoir</p>
                <br />
                <p>
                <h6>Explore:</h6>
                <ol>
                  <li>
                    <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~casey.hahn/w209/customer_1"
                          target="_parent">Customer Base</a></p>
                  </li>
                  <li>
                    <p><a rel="nofollow" href="https://apps-fall.ischool.berkeley.edu/~casey.hahn/w209/customer_2"
                          target="_parent">Customer RFM Analysis</a></p>
                  </li>
                </ol>
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s"
                   data-wow-delay="0.6s">
                <div class="fourth-number number">
                  <h6>04</h6>
                </div>
                <div class="icon"></div>
                <h4>The Team</h4>
                <div class="line-dec"></div>
                <p>Meet our amazing team members! Visit <a rel="nofollow" href="/~ngchuchi/w209/#about-team" target="_parent">Here</a> for
                  more details.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about-team" class="contact-us section">
  <div class="container">
    <div class="row">
      <div class="col wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <div class="section-heading">
          <h5>About the Team</h5>
          <h2>Meet Our Team Members</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 text-center">
        <div class="team-member">
          <h3>Casey Hahn</h3>
          <p>Role: Sales & Marketing</p>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="team-member">
          <h3>Chu-Chi Ng</h3>
          <p>Role: On-time Delivery</p>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="team-member">
          <h3>Ahad Momin</h3>
          <p>Role: Customer Relations</p>
        </div>
      </div>
    </div>

  </div>
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2023 Datasci-209 Fall Section-4, Team-5. All Rights Reserved.
          <br>Powered by <a rel="nofollow" href="https://altair-viz.github.io/index.html">Vega-Altair</a>,
          Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="/~ngchuchi/w209/static/vendor/jquery/jquery.min.js"></script>
<script src="/~ngchuchi/w209/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/~ngchuchi/w209/static/assets/js/owl-carousel.js"></script>
<script src="/~ngchuchi/w209/static/assets/js/animation.js"></script>
<script src="/~ngchuchi/w209/static/assets/js/imagesloaded.js"></script>
<script src="/~ngchuchi/w209/static/assets/js/custom.js"></script>

</body>

</html>